.about .title {
    padding: 6vh 1vw 6vh 1vw;
    font-size: 5vh;
    padding-top: 14vh;
}

.about .content {
    padding: 4vh 5vw 6vh 5vw;
    align-items: center;
    font-size: 0.8em;
    font-weight: lighter;
    display: inline-flex;
}

.about button { margin-top: 2vh; }

.about p { margin-bottom: 4vh; }

.about .about { min-width: 30vw; }

.about .photo { margin-left: 5vw; width: 30vw; margin-right: 10vw; }

@media only screen and (max-width: 1200px) {
    .about .photo { display: none; }
}
