.index { width: 100%; }

.index .main {
    height: 100vh;
    background: linear-gradient(rgba(40, 35, 35, 0.7), rgba(40, 35, 35, 0.7)), url("../images/swiss.jpg");
    background-color: grey;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100vw auto;
}

.index .main .content {
    height: 80vh;
    margin-top: 14vh;
}

.index .main .content p { letter-spacing: 3px; }

.index .mobile { display: none; }

@media only screen and (max-width: 800px) {
    .index .mobile { display: block; }
    .index .mobile li {
        margin-top: 2vh;
        padding: 2vh 0 2vh 0;
        border-radius: 1vh;
    }
    .index .mobile li:hover {
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    }
}

@media only screen and (max-width: 1200px) {
    .index .main { background-size: auto 140vh; }
    ul { padding: 0; }
}
