.index { width: 100%; }

.index .main {
    height: 100vh;
    background: linear-gradient(rgba(40, 35, 35, 0.7), rgba(40, 35, 35, 0.7)), url("../images/swiss.jpg");
    background-color: grey;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100vw auto;
}

.index .main .content {
    height: 80vh;
}

.index .scroll-up { display: none; }

.index .main .content p { letter-spacing: 3px; }

.index .mobile { display: none; }

.index .description { padding: 0; }

.index .description .title {
    color: black;
    padding: 6vh 1vw 6vh 1vw;
    font-size: 1.5em;
    background-color: white;
}

.index .description .content {
    padding: 4vh 2vw 6vh 5vw;
    align-items: center;
    font-size: 0.8em;
    overflow: hidden;
    font-weight: lighter;
    display: inline-flex;
}

.index .description p { margin-bottom: 6vh; }

.index .description .photo { 
    margin-left: 5vw; 
    min-width: 25vw; 
    overflow: hidden; 
}

@media only screen and (max-width: 800px) {
    .index .mobile { 
        display: inline-flex;
        margin-top: 20vh; 
    }
    .index .mobile li {
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        border: none;
        margin-top: 2vh;
        padding: 2vh 0 2vh 0;
        width: 50vw;
        border-radius: 1vh;
    }
    .index .mobile li:hover {
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    }
}

@media only screen and (max-width: 1200px) {
    .index .description .photo { display: none; }
    .index .main { background-size: auto 140vh; }

    ul { padding: 0; }

    .index .scroll-up.active:focus { outline: none; }

    .index .scroll-up.active {
        border-radius: 5vh;
        padding: 0;
        height: 10vh;
        width: 10vh;
        font-size: 0.8em;
        display: block;
        position: fixed;
        bottom: 4vh;
        right: 5vh;
        z-index: 99; 
        cursor: pointer;
        padding: 15px;
    }
}
