.index {
    width: 100%;
}

.index .main {
    height: 100vh;
    background: linear-gradient(rgba(40, 35, 35, 0.7), rgba(40, 35, 35, 0.7)), url("../images/swiss.jpg");
    background-color: grey;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100vw auto;
}

.index .main .content {
    height: 80vh;
    margin-top: 14vh;
}

.index .main .content p, button { letter-spacing: 3px; }

.index .main .content button {
	margin-top: 1vh;
	background: none;
	color: white;
	padding: 2vh;
	border: 1px solid white;
	width: 100Į;
}

.index .main .content button:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}	

ul { padding: 0; }

.index .mobile li {
	margin-top: 2vh;
	padding: 2vh 0 2vh 0;
    border-radius: 1vh;
}

.index .mobile li:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

@media only screen and (max-width: 800px) {
    .index .main .content button {
        display: none;
    }
    .index .main {
        background-size: auto 140vh;
    }
}
@media only screen and (min-width: 801px) {
    .index .mobile { display: none; }
}
